* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f3f4;
    font-family: sans-serif;
}

.top-nav-bar {
    height: 57px;
    top: 0;
    position: sticky;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 3px solid rgb(37, 37, 192);
     z-index: 2; 
}
.logo
{

    height: 40px;
    margin: 5px 10px;

}
.form-control{
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid rgb(37, 37, 192) !important;
    border-top-left-radius:  20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;

    
}
.input-group-text
{
    background: rgb(37, 37, 192) !important;
    border: 1px solid rgb(37, 37, 192) !important;
    margin: 8.5px 10px 3px 0 !important;
    border-top-left-radius:  0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;

}
.search-box
{
    display: inline-flex;
    width: 60%;
    
}
.fa-search{

 color: #fff;
}
.menu-bar
{

    width: 40%;
    height: 57px;
    float: right;


}
.menu-bar ul
{

display: inline-flex;
float: right;

}
.menu-bar ul li
{
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: rgb(37, 37, 192);
    cursor: pointer;
}
.menu-bar ul li a
{
    font-size:  16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    
}





.side-menu
{
 height: 79%;
 width: 15%;
 font-size: 14px;
 float: left;
 z-index: 2;
 background-color: #ddd;
}

.side-menu ul{
 margin-left: 10px;
 
}
.side-menu ul li 
{
 list-style-type: none;
 font-weight: bold;
 margin-top: 10px;
 cursor: pointer;

}

.side-menu ul li:hover
{
 color: rgb(37, 37, 192);
}
.side-menu ul li ul
{
 display: none;
 z-index: 10p;
 top: 77px;
 

}
.side-menu ul li:hover ul
{
 display: block;
 height: 400px;
 margin-left: 12%;
 padding: 0 100px 10px 10px;
 position: fixed;
 background: #ececec;
 box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
 
}

.slider{


    width: 85%;
    height: 500px;
    margin-left: 15%;
    padding: 0 10px;
    }

    .featured-categories{
        margin-top: 200px;
        margin-left: 230px;
    }
    .featured-categories img{

        width: 100%;
        padding: 20px 0;
        transition: 1s;
        cursor: pointer;
    }
    .featured-categories img:hover{
        transform: scale(1.1);
    }



.title-box
{
    background: rgb(37, 37, 192);
    color: #fff;
    width: 180px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
margin-left: 130px;
}
.title-box h2
{
 font-size: 24px;

}

.title-box::after
{
 content: ' ';
 border-top: 40px solid rgb(37, 37, 192);
 border-right: 50px solid transparent;
 position: absolute;
 display: flex;
 margin-top: -4px;
 margin-left: 170px;
}


.product-top{
    margin-left: 130px;
}

.product-bottom-text-center{
    margin-left: 135px;
}


.btn-btn-secondary{
   margin-top: 10px;
   margin-left: 20px;
}
.product-bottom-text-center{
    margin-left: 170px;
}

.product-top img
{
 width: 100%
}
.product-bottom-text-center
{
    color:rgb(37, 37, 192);
    font-size: 18px;

}
.product-bottom-text-center h3
{
    font-size: 20px;
    font-weight:bold;

}
.product-bottom-text-center h5
{
    font-size: 20px;
    padding-bottom: 15px;
    
}

.New-products{
    margin: 50px 0;
    
}



.website-features
{
margin: 60px 0;
margin-left: 250px;
}
.website-features img{
    width: 20%;
}

.footer
{
    margin-top: 50px;
    background: #000;
    color: #fff;
}
.footer h1
{
    font-size: 12px;
    margin: 25px 0;
}

.footer p
{
    font-size: 12px;

}

.single-product
{
    margin-top: 20px;

}
.new-arrival
{
    background: green;
    width: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}

.col-md-7 h2
{
    color:#555;
}


.single-product .price
{
    color: rgb(37, 37, 192);
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}

.single-product .fa
{
color:rgb(37, 37, 192);
}

.single-product input{
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}

.single-product .btn-primary
{

    margin-left: 20px;
} 
.product-description h6{
    margin-top: 50px;
    color:rgb(37, 37, 192);
    margin-left: 20px;
    font-size:175%;

}

.product-description p{
    margin-top: 30px;
    margin-left: 20px;
}
.product-description .container2{
    margin-right: 110px;
}


@media only screen and (max-width:980px){
    .side-menu{
        width: 34%;
        z-index: 20%;
        top: 133px;
        position: fixed;
        font-size: 12px;
        background: #f1f3f4;
        display: none;


    }
    .side-menu ul li ul{
        top: 133px;

    }
    .side-menu ul li ul:hover ul{
        margin-left: 31%;

    }
}

.menu-open{
    
    
    font-size: 25px;
  
    margin: 5px;
    color: rgb(37, 37, 192);
    
    
}
.menu-close{

    font-size: 23px;
    margin: 5px;
    color: rgb(37, 37, 192);
    
}


@media only screen and (max-width:980px)
{
   .top-nav-bar{
    height: 118px;
    border-bottom: 0;
   } 
   .search-box{
    width: 100%;

   }
   .menu-bar{
    width: 100%;
   }
   .menu-bar ul 
   {
    margin: 10px 0;
    width: 100%;
    
   }

   .menu-bar ul li
   {
    height: 57px;
    width: 100%;

   }



}